.App {
  display: flex;
  width: 100%;
  height: 100vh;
}
.App .CodeBlock {
  padding: 25px; 
  width: 35%;
  overflow: auto;
}

.App .CodeBlock .variable {
  padding-left: 30px;
  margin-bottom: 3px;
}

.App .CodeBlock .variable .key {
  margin-right: 8px;
}

.App .CodeBlock .variable .showChanged {
  background-color: #168403;
  color: #FFF;
  transition: background-color 3s linear;
}
